* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    outline: none;
    border: 0;
    color: #222;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
    background-color: #fff;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.3em;
    height: 100%;
    width: 100%;
}

input {
    font-size: 25px;
}

h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.3em;
}

#tabsContainer {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    width: 100%;
    background: #fff;
}

#tabsContainer div {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 10px;
    font-size: 1.08em;
    color: #777; /* unselected tab color */
}

.pitTabActive #pitTab, /* selected tab */
.gameTabActive #gameTab,
.decodeTabActive #decodeTab {
    /*background: #43A047;*/
    color: #000;
    border-bottom: 5px solid #000;
}

.pitTabActive .view:not(.pit),
.pitTabActive h1:not(.pit),
.pitTabActive .game.generateQR,
.pitTabActive #decodeQR,
.pitTabActive #data,

.gameTabActive .view:not(.game),
.gameTabActive h1:not(.game),
.gameTabActive .pit.generateQR,
.gameTabActive #decodeQR,
.gameTabActive #data,

.decodeTabActive .view:not(.decode),
.decodeTabActive h1:not(.decode),
.decodeTabActive .generateQR,
.decodeTabActive #takePicture,
.decodeTabActive #qrResult {
    display: none;
}

legend {
    padding: 5px;
}

label {
    color: #333;
}

input:checked + label {
    color: #000;
}

.defenses label img,
#autonomous legend span img {
    display: none;
    width: 100vw;
    z-index: 10; /* should always be top */
}

.defenses label img.visible,
#autonomous legend span img.visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

#qrResult {
    padding: 20px;
    background: #fff;
}

#qrResult img {
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

button.minus,
button.plus {
    padding: 10px 30px;
    padding-bottom: 40px;
    background: #ddd;
}

button.minus {
    margin-right: 10px;
}

button.minus::after,
button.plus::after {
    color: #000;
}

button.minus::before {
    content: "-";
}

button.plus::before {
    content: "+";
}

.makes::before {
    content: "Makes: ";
}
.misses::before {
    content: "Misses: ";
}

input[type="radio"]:checked + label::after {
    border: 2px solid rgba(0,0,0,0.2);
    background-color: #11bd27 !important;
}

input[type="checkbox"]:checked + label::after {
    border: 2px solid rgba(0,0,0,0.1) !important;
    background-color: #11bd27 !important;
}

#autonomous input[type="radio"][value="0"] + label::before {
    border: 2px solid #222 !important;
} #autonomous input[type="radio"][value="1"] + label::before {
    border: 2px solid #222 !important;
} #autonomous input[type="radio"][value="2"] + label ::before {
    border: 2px solid #222 !important;
}

#autonomous input[type="radio"][value="0"]:checked + label::after {
    background: #31ac1d !important;
    border: 2px solid #222 !important;
} #autonomous input[type="radio"][value="1"]:checked + label::after {
    background: #c5db15 !important;
    border: 2px solid #222 !important;
} #autonomous input[type="radio"][value="2"]:checked + label::after {
    background: #d2260f !important;
    border: 2px solid #222 !important;
}
