* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    outline: none;
    border: 0;
    background: transparent;
    color: #eee;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #2a2a2a;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    height: 100%;
    width: 100%;
}

/* Portrait layout (default) */
#app {

}

h1 {
    font-size: 1.4em;

}

#tabsContainer {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    width: 100%;
    background: rgba(0,0,0,0.2);
}

#tabsContainer div {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
    color: #888; /* unselected tab color */
}

.pitTabActive #pitTab, /* selected tab */
.gameTabActive #gameTab,
.decodeTabActive #decodeTab {
    background: #0f951c;
    color: #eee;
}

.pitTabActive .view:not(.pit), .pitTabActive h1:not(.pit), .pitTabActive #decodeQR,
.gameTabActive .view:not(.game), .gameTabActive h1:not(.game), .gameTabActive #decodeQR,
.decodeTabActive .view:not(.decode), .decodeTabActive h1:not(.decode), .decodeTabActive #generateQR, .decodeTabActive #takePicture, .decodeTabActive #qrResult {
    display: none;
}

#qrResult {
    padding: 20px;
    background: #fff;
}

#qrResult img {
    margin-right: auto;
    margin-left: auto;
}

#defensesChosen label img,
#defensesBreached label img {
    display: none;
}

#defensesChosen label img.visible,
#defensesBreached label img.visible {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #app {

    }
}
