* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    outline: none;
    border: 0;
    : transparent;
    color: #222;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
    background-color: #fff;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.3em;
    height: 100%;
    width: 100%;
}

input {
    font-size: 25px;
}

/* Portrait layout (default) */
#app {

}

h1 {
    font-size: 1.4em;

}

#tabsContainer {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    width: 100%;
    background: rgba(30,30,30,0.4);
}

#tabsContainer div {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 10px;
    font-size: 1.08em;
    color: #111; /* unselected tab color */
}

.pitTabActive #pitTab, /* selected tab */
.gameTabActive #gameTab,
.decodeTabActive #decodeTab {
    background: #43A047;
    color: #eee;
}

.pitTabActive .view:not(.pit), .pitTabActive h1:not(.pit), .pitTabActive #decodeQR,
.gameTabActive .view:not(.game), .gameTabActive h1:not(.game), .gameTabActive #decodeQR,
.decodeTabActive .view:not(.decode), .decodeTabActive h1:not(.decode), .decodeTabActive #generateQR, .decodeTabActive #takePicture, .decodeTabActive #qrResult {
    display: none;
}

.view > fieldset {
    border-bottom: 5px solid #000;
    /*border-top: 5px solid #000;*/
}

legend {
    padding: 5px;
}

.defenses label img,
#autonomous fieldset fieldset legend img {
    display: none;
    z-index: 10; /* should always be top */
}

.defenses label img.visible,
#autonomous fieldset fieldset legend img.visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

#qrResult {
    padding: 20px;
    background: #fff;
}

#qrResult img {
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 13px;
    background: #43A047;
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    text-transform: uppercase;
}

button.minus,
button.plus {
    padding: 5px 10px;
    background: #ddd;
    box-shadow: none;
}

button.minus {
    margin-right: 10px;
}

button.minus::after,
button.plus::after {
    color: #000;
}

button.minus::before {
    content: "-";
}

button.plus::before {
    content: "+";
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #app {

    }
}

input:not([type="number"]) {
    display: none;
}

input:not([type="number"]) + label span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

input[type="radio"] + label span {
    border-radius: 50%;
}

input:not([type="number"]) + label span::after {
    content: "";
    position: absolute;
    top: 4px; left: 4px;
    width: 8px; height: 8px;
    transition: 0.2s ease-out;
}

input:not([type="number"]):checked + label span::after {
    background: #000;
}

input[type="radio"]:checked + label span::after {
    border-radius: 50%;
}

input:not([type="number"]) + label span {
    background: #292321;
}

input:not([type="number"]):checked + label span {
    background: #17a229;
}

input:not([type="number"]) + label span,
input:not([type="number"]):checked + label span {
    transition: background 0.2s ease-out;
}

.makes::before {
    content: "Makes: ";
}
.misses::before {
    content: "Misses: ";
}

#autonomous input[value="0"] + label {
    border-bottom: 2px solid #31ac1d;
} #autonomous input[value="1"] + label {
    border-bottom: 2px solid #c5db15;
} #autonomous input[value="2"] + label {
    border-bottom: 2px solid #d2260f;
} #autonomous input[value="3"] + label {
    border-bottom: 2px solid #888;
}

#autonomous input[value="0"]:checked + label span {
    background: #31ac1d;
} #autonomous input[value="1"]:checked + label span {
    background: #c5db15;
} #autonomous input[value="2"]:checked + label span {
    background: #d2260f;
} #autonomous input[value="3"]:checked + label span {
    background: #000;
}  #autonomous input[value="3"]:checked + label span::after {
    background: #aaa;
}
